*xcuserstate
Teechers App.xcodeproj/project.xcworkspace/*
Teechers App.xcodeproj/project.xcworkspace/xcuserdata/fran.xcuserdatad/UserInterfaceState.xcuserstate
Teechers App.xcodeproj/project.xcworkspace/xcshareddata/Teechers App.xccheckout

*.xcuserstate

*.xcuserstate

Teechers App.xcodeproj/project.xcworkspace/xcuserdata/fran.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist
