<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>date</string>
		<key>cellType</key>
		<string>tchFormCellLabelAndDateInput</string>
		<key>labelText</key>
		<string>Date</string>
		<key>inputPlaceholder</key>
		<string>Class Date</string>
		<key>propertyName</key>
		<string>date</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>cellType</key>
		<string>tchFormCellLabelAndTextInput</string>
		<key>labelText</key>
		<string>Name</string>
		<key>inputPlaceholder</key>
		<string>(optional)</string>
		<key>propertyName</key>
		<string>name</string>
	</dict>
</array>
</plist>
